<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogHost</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        
    </style>
</head>

<body>
    
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="/">
                <span class="mr-3 ml-3 text-xl">BlogHost</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                
                <a class="m-5 hover:text-white text-center" href="#">About</a>
                <a class="m-5 hover:text-white text-center" href="/users/signin">Sign in</a>
            </nav>
            <form action="/users/signup" method="get">
                <button
                    class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Get
                    Started
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </button>
            </form>
        </div>
    </header>

   
    <!-- HERO Section  -->