<%- include('partials/adminHeader') %>


<section class="text-gray-400 bg-gray-900 body-font custom-setting py-24">
      <div class="container px-5 lg:pt-20 lg:pb-8 mx-auto flex flex-wrap items-center ">
        <div class="lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col  md:m-auto w-full mt-10 md:mt-0">
          <h2 class="text-white text-lg font-medium title-font mb-5">Username: <%= userDetail.username%></h2> 
          <h2 class="text-white text-lg font-medium title-font mb-5"> Email: <%= userDetail.email%></h2> 
        </div>
      </div>
   
    <br>
  </section>
<%- include('partials/adminFooter') %>